*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    color: #333333;
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: #fff;
    overflow-x: hidden;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after, .slide-buttons::before, .slide-buttons::after {
    display: table;
    content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after, .slide-buttons::before, .slide-buttons::after  {
    clear: both;
}
a{
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    text-decoration: none;
}
ul{list-style: none;}
img{
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    max-height: 100%;
}
/* pre-loader */
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100000;
}
#intro-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: url(../assets/img/preloader.gif);
}
/* End Pre-loader */
/* Nav Bar */
.darken {
    background-color: rgba(0, 0, 0, 0.8)!important;
}
.minified {
    opacity: 0.9;
    padding: 15px 0 5px 0px!important;
    transition: all 0.5s ease-out 0s!important;
}
.navbar-transparent{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 #000000;
}
.navbar{
    padding: 30px 0;
    margin-bottom: 20px;
    min-height: 50px;
    border: 1px solid transparent;
    transition: all 1s ease-out 0s;
    z-index: 3000;
}
.fixed-top{
    border-width: 0 0 1px;
}
.navbar .container{display: block;}
@media (min-width: 768px){
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0!important;
    margin-left: 0!important;
}
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px){
.navbar-header {
    float: left!important;
}
}
.navbar-transparent .navbar-toggle {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: medium none;
    transition: all 0.2s ease-out 0s;
}
@media (min-width: 768px){
.navbar-toggle {
    display: none!important;
}
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-transparent .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #FFFFFF;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle-active {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.navbar-toggle-active .icon-bar{
    background-color: #717171!important;
    transition: all 0.2s ease-out 0s;
}
@media (min-width: 768px){
.navbar>.container .navbar-brand {
    margin-left: -15px!important;
}
}
.navbar .navbar-brand {
    margin: 0 0 0 15px;
    padding: 0;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand>img {
    display: block;
}
@media (min-width: 992px){
.navbar-transparent .navbar-collapse {
    background-color: rgba(0, 0, 0, 0)!important;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0) inset!important;
    text-align: center!important;
}
}
@media (min-width: 768px){
.navbar-transparent .navbar-collapse {
    background-color: rgba(0, 0, 0, 0)!important;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0) inset!important;
    margin-top: 0!important;
    text-align: center!important;
}
}
.navbar .navbar-collapse {
    background-color: #3b3f50;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
    margin-top: 15px;
    text-align: center;
    max-height: 400px;
}
@media (min-width: 768px){
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0!important;
    margin-left: 0!important;
}
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
.fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
@media (min-width: 768px){
.fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0!important;
    padding-left: 0!important;
}
}
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0!important;
    overflow: visible!important;
    visibility: visible!important;
}
}
@media (min-width: 768px){
.navbar-collapse {
    width: auto!important;
    border-top: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.navbar-collapse.in{
    max-height: max-content;
    height: auto;
    overflow-y: auto;
}
.collapse {
    display: none;
    visibility: hidden;
}
@media (min-width: 992px){
.navbar .navbar-nav {
    float: right!important;
    margin: 2px 0!important;
    flex-direction: row!important;
}
}
@media (min-width: 768px){
.navbar .navbar-nav {
    float: right!important;
    margin: 2px 0!important;
    flex-direction: row!important;
}
}
.navbar .navbar-nav {
    float: none;
    margin: 10px 0;
}
@media (min-width: 768px){
.navbar-nav {
    float: left!important;
    margin: 0!important;
}
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-transparent .navbar-nav .active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px #FFFFFF inset;
    margin-top: 0;
    border-radius: 4px;
    color: #FFFFFF;
    transition: all 0.2s ease-out 0s;
}
@media (min-width: 992px){
.navbar .navbar-nav li {
    margin-left: 5px!important;
}
}
@media (min-width: 768px){
.navbar .navbar-nav li {
    margin-left: 3px!important;
}
}
.navbar .navbar-nav li {
    display: block;
    margin-left: 5px;
    border-radius: 4px;
    transition: all 0.2s ease-out 0s;
}
@media (min-width: 768px){
.navbar-nav>li {
    float: left!important;
}
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-transparent .navbar-nav .active a {
    color: #FFFFFF;
}
@media (min-width: 992px){
.navbar-transparent .navbar-nav li a {
    color: #FFFFFF!important;
    display: inline-block!important;
    padding: 8px 16px!important;
}
}
@media (min-width: 768px){
.navbar-transparent .navbar-nav li a {
    color: #FFFFFF!important;
    display: inline-block!important;
    padding: 8px 12px!important;
}
}
.navbar .navbar-nav li a {
    background-clip: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    outline: medium none;
    padding: 12px 16px;
}
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-transparent .navbar-nav li:hover {
    background-color: #FFFFFF;
    border-radius: 4px
}
.navbar-transparent .navbar-nav li a:hover {
    color: #717171!important;
}
/* End Nav Bar */
/* Home Section */
#home{
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
}
.home-bg-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-bg-slide::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    z-index: 2;
}
.home-bg-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}
.home-bg-slide.active-slide{
    opacity: 1;
    visibility: visible;
}
li.home-bg-slide:first-child{background-image: url(../assets/img/slide1.jpg);}
li.home-bg-slide:last-child{background-image: url(../assets/img/slide2.jpg);}
.slide-buttons{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    z-index: 2;
}
.home-bg:hover + .slide-buttons{
    opacity: 1;
    visibility: visible;
}
.slide-buttons .slide-nav{
    margin: 0 30px;
    padding-top: 5px;
    width: 50px; height: 50px;
    color: white;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 50%;
    text-align: center;
    background-color: black;
    cursor: pointer;
    transition: 0.3s;
}
.slide-buttons .slide-nav:hover{
    color: rgb(53, 48, 48);
    background-color: rgb(95, 95, 95)
}
.slide-buttons .prev-button{
    float: left;
}
.slide-buttons .next-button{
    float: right;
}
.home-bg-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.4s;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    text-transform: uppercase;
}
.home-bg-desc-small{
    padding: 4px 18px;
    font-size: 29px;
    font-weight: 700;
    line-height: 46px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.4s;
}
@media (min-width: 320px){
.home-bg-desc-small {
    padding: 0;
    font-size: 7px;
    line-height: 14px;
}
}
@media (min-width: 360px){
.home-bg-desc-small {
    padding: 0;
    font-size: 8px;
    line-height: 16px;
}
}
@media (min-width: 411px){
.home-bg-desc-small {
    padding: 0;
    font-size: 9px;
    line-height: 18px;
}
}
@media (min-width: 768px){
.home-bg-desc-small {
    padding: 4px 18px;
    font-size: 18px;
    line-height: 46px;
}
}
@media (min-width: 1280px){
.home-bg-desc-small {
    padding: 4px 18px;
    font-size: 29px;
    line-height: 46px;
}
}
.home-bg-desc-large{
    padding: 4px 18px;
    font-family: 'Oswald', helvetica, arial, sans-serif;
    font-size: 71px;
    letter-spacing: -2px;
    line-height: 86px;
    border: 3px solid white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.4s;
}
@media (min-width: 320px){
.home-bg-desc-large {
    padding: 1px 5px;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -1px;
}
}
@media (min-width: 360px){
.home-bg-desc-large {
    padding: 1px 6px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1px;
}
}
@media (min-width: 375px){
.home-bg-desc-large {
    padding: 1px 6px;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: -1px;
}
}
@media (min-width: 411px){
.home-bg-desc-large {
    padding: 1px 7px;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -1px;
}
}
@media (min-width: 768px){
.home-bg-desc-large {
    padding: 4px 18px;
    font-size: 45px;
    line-height: 86px;
    letter-spacing: -2px;
}
}
@media (min-width: 1280px){
.home-bg-desc-large {
    padding: 4px 18px;
    font-size: 71px;
    line-height: 86px;
    letter-spacing: -2px;
}
}
.active-slide  .home-bg-desc-small, .active-slide  .home-bg-desc-large{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
/* End Home Section */
/* About Section */
.bg1 {
    background-color: #ffffff;
}
.section-content {
    padding-bottom: 60px;
}
.section-title {
    position: relative;
    width: 100%;
    font-family: 'Oswald', helvetica, arial, sans-serif;
}
.section-title div {
    width: 80px;
    height: 80px;
    margin: 50px auto 0px auto;
    background-color: #cccccc;
    border-radius: 100%;
}
.section-title div span i{
    color: #ffffff;
    margin-top: 27px;
}
h1 {
    position: relative;
    margin: 20px auto 50px auto;
    padding: 0px 40px;
    display: inline-block;
    color: #666666;
    font-family: 'Oswald', helvetica, arial, sans-serif;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.6;
    text-transform: uppercase;
}
.section-title h1:before, .section-title h1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 35px;
    width: 30px;
    height: 2px;
    background: none repeat scroll 0 0 #666666;
}
.section-title h1:after {
    left: auto;
    right: 0;
}
.section-title h1 span {
    padding: 0px 10px;
    background-color: rgba(59, 63, 80, 0.6);
    border-radius: 6px;
    color: #fff;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
section img {
    margin-top: 10px;
    margin-bottom: 20px;
}
.name-title {
    width: 100%;
    max-width: 360px;
    margin: -20px auto 0px auto;
    padding: 15px 15px 8px 15px;
    background-color: rgba(59, 63, 80, 0.8);
}
.name-title h2 {
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
}
.name-title h2, .name-title h5 {
    font-family: 'Oswald', helvetica, arial, sans-serif;
    color: #ffffff;
    text-align: center;
}
.name-title h5{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.quoteLine {
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 300;
}
p {
    margin: 0 0 10px;
    line-height: 1.6em;
    margin-bottom: 1.6em;
}
.fa-ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 2.14285714em;

}
.fa-ul>li {
    position: relative;
}
strong {
    font-weight: 700;
}
.new-line {
    margin-top: 60px;
}
.counters-item {
    float: left;
    margin: 0px 2px 2px 0px;
    width: 150px;
    height: 130px;
    border: 1px solid #999999;
}
.counters-item i {
    margin-top: 16px;
    color: #666666;
}
.number-counters strong {
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
    display: block;
    font-size: 40px;
    color: #666666;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -2px;
}
/* End About Section */
/* Work Section */
.bg3 {
    background-color: #474D5D;
}
.white {
    color: #ffffff !important;
}
.section-title h1.white span {
    background-color: rgba(239,239,239,0.6);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #fff;
    padding: 0px 10px;
}
.section-title h1.white:before, .section-title h1.white:after {
    background: none repeat scroll 0 0 #ffffff;
}
.portfolio-filter {
    margin: 30px 0px;
}
.portfolio-filter-list li {
    text-transform: uppercase;
    margin: 0px;
    display: inline-block;
}
.portfolio-filter-list li:after {
    content: "/";
    position: relative;
}
.portfolio-filter-list a.active {
    background-color: #FFFFFF;
    color: #000000;
}
.white a {
    color: #ffffff;
}
.portfolio-filter-list a {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 11px;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-decoration: none !important;
    border-radius: 5px;
}
.portfolio-filter-list a:hover {
    background-color: #ffffff;
    color: #000000;
    opacity: 1;
}
.portfolio-items {
    width: 100%;
}
@media (min-width: 768px){
.portfolio-items article {
    width: 49.4%;
}
}
@media (min-width: 992px){
.portfolio-items article {
    width: 32.5%;
}
}
@media (min-width: 1200px){
.portfolio-items article {
    width: 24.4%;
}
}
.portfolio-items article {
    position: relative;
    margin: 0.5% 0.5% 0 0;
    float: left;
    overflow: hidden;
}
#portfolio-items img {
    margin: 0px !important;
}
.portfolio-items article img {
    width: 100%!important;
    height: auto!important;
}
.portfolio-items article .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px;
    width: 100%;
    height: 100%;
    background: #efefef;
    color: #000;
    opacity: 0;
    text-align: center;
    transform: scale(0.1);
    transition: all 0.6s ease-out;
}
.portfolio-items .item-info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 97%;
    height: auto;
    text-align: center;
    transform: translate(-50%,-50%);
    transition: all 0.6s ease-out;
}
.portfolio-items article .overlay span {
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.6s ease-out;
}
.portfolio-items article:hover .overlay {
    opacity: 0.8;
    transform: scale(1);
}
/* End Work Section */
/* skill section */
.bg2 {
    background-color: #EFEFEF;
}
.skillBar {
    margin-top: 40px;
    text-align: left !important;
}
.skillBar li .skillBg {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 6px;
    margin-bottom: 20px;
}
.skillBar li span {
    position: relative;
    display: block;
    height: 36px;
    width: 0;
    overflow: visible !important;
    border-radius: 0px 15px 15px 0px;
    background-color: #474D5D;
}
.skillBar li span strong {
    color: #FFFFFF;
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    line-height: 12px !important;
    white-space: nowrap;
}
/* end skill section */
/* Downloadable Resume */
.fullwidth-section {
    padding: 80px 0px;
}
.fullwidth-section h1{
    display: block;
    font-family: 'Oswald', helvetica, arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0;
    text-transform: none;
}
.bg-callout {
    background-color: #474D5D !important;
    color: #fff;
}
.killMargin {
    margin: 0px;
}
.padBottom {
    padding-bottom: 15px;
}
.fullwidth-section a.btn {
    display: inline-block;
    margin: 20px 7px 0px 7px;
}
.btn-trans.btn-border-w {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    color: #ffffff;
}
.btn-trans.btn-large {
    font-size: 16px;
    padding: 10px 24px;
}
.btn-trans, a.btn-trans {
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.25s ease-in-out 0s;
}
.btn-trans.btn-border-w:hover, .btn-trans.btn-border-w:focus {
    background-color: #FFFFFF;
    color: #000000;
}
.fullwidth-section .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.fullwidth-section .btn{
    border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}
/* End Downloadable Resume */